.rubik-doodle shadow-regular {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}
body {
  text-align: center;
  justify-content: center;
  align-items: center;
}
h1{
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.dash{
  border: 1px solid gray;
  width: 100%;
  height: 0px;
}
h2{
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  color: gray;
}
h3{
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
  